config upmpdcli
	option friendlyname	"upMPDcli"
	option interface	wlan0
	option port		
# Is there a way to get this from another config file?
	option mpd_host    	localhost
	option mpd_port     	6600
	option loglevel	  	0
# If set upmpdcli is allowed to clear mpd's playlist at will
	option own_mpd_queue	1
	option use_openhome	1

